.radio_container{
    padding: 0.5rem;
    width: 100%;
    height: auto;
    background-color: rgb(238, 247, 248);
    box-sizing: border-box;
}

.radio_container > label{
    display: block;
    margin-bottom: 0.7rem;
}

.line {
    border-top: 1px solid lightblue;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.item{
    width: 48%;
    height: 2.3rem;
    border: solid lightblue 2px;
    margin: 5px;
    background-color: rgb(199, 231, 241);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

