.App{
  height: fit-content;
  display: flex;
}

.left-section{
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;  
}

.right-section{
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}

.left-section > textarea {
  height: 100vh;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid lightblue;
  border-radius: 4px;
  background-color: rgb(233, 240, 243);
  font-size: 16px;
  resize: none;
}

.main_container{
  border: solid lightblue 2px; 
  border-radius: 5px;
  margin-bottom: 0.6rem;
}